.hamburgler{
  width: 40px;
  height: 40px;
  display: block;
  transition: .3s ease all;
  float: right;
  margin-top: 10px;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &.no-hamburgler{
    transform: rotate(-45deg);
    margin-top: 10px;
  }
}

.bun,
.meat{
  display: block;
  width: 100%;
  // background: rgba(28, 28, 28, 1);
  background: #fff;
  height: 10%;
  transition: .3s ease all;
  border-radius: $radius;

}

.top{
   .no-hamburgler & {
    height: 42%;
    width: 10%;
    margin-left: 42%;
    border-radius: $radius $radius 0 0;
  }
}

.bottom{
  .no-hamburgler & {
    height: 42%;
    width: 10%;
    margin-left: 42%;
    border-radius: 0 0 $radius $radius;
  }
}

.meat{
  margin: 20% 0;
  
  .no-hamburgler &{
    margin: 3% 0;

  }
}