$grid-breakpoints: (
  xs: 440px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xlg: 1340px,
  xll: 1440px,
  full: 1800px
) !default;

//colors
$azul: rgba(46, 154, 254, 1);
$light: #FBBF40;
$dark: #CB4B1F;
$radius: 50px;
$cinza: #545454;
$text: #707070;