@import 'breakpoint';
@import 'variables';
@import 'fonts';

.events {
	width: 100%;
	margin-top: 65px;
	background: rgba(144, 152, 155, 0.1);
	padding: 50px 0;

	@include media-breakpoint-up(lg) {
		margin-top: 80px;
	}

	&__head {
		font-size: 28px;
		font-family: 'Champagne & Limousines';
		font-weight: bold;
		width: 100%;
		text-align: center;
		margin: 0 auto 30px;
	}

	&__item {
		max-width: 390px;
		margin: 0 auto 40px;
		&--image {
			height: 240px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			border-top-left-radius: 6px;
	    	border-top-right-radius: 6px;
		}
	}

	&__info {
		padding: 15px;
		border: 1px solid #dfdfdf;
	    border-bottom-left-radius: 6px;
	    border-bottom-right-radius: 6px;
	    box-shadow: 0 0 6px rgba(0,0,0,.16);
	    height: 151px;
	    background-color: #fff;
		&--date {
			font-size: 12px;
			font-family: 'Champagne & Limousines';
			font-weight: bold;
			color: #526e7a;
		}

		&--head {
			font-size: 18px;
			font-family: 'Champagne & Limousines';
			font-weight: bold;
			color: #526e7a;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		&--description {
			font-size: 18px;
			font-family: 'Champagne & Limousines';
			color: #90989b;
		}
	}
}