@import 'breakpoint';
@import 'variables';
@import 'fonts';

.content {
	width: 100%;
	margin-top: 65px;
	background: rgba(144, 152, 155, 0.1);
	padding: 50px 30px;

	@include media-breakpoint-up(lg) {
		margin-top: 80px;
		padding: 50px 0;
	}

	&__info {
		margin-bottom: 50px;
		@include media-breakpoint-up(lg) {
			padding: 50px 20% 0;
		}

		&--head {
			font-size: 28px;
			font-family: 'Champagne & Limousines';
			font-weight: bold;
			width: 100%;
			text-align: center;
			margin-bottom: 30px;
		}

		&--description {
			font-size: 18px;
			font-family: 'Champagne & Limousines';
			color: #90989b;
			text-align: center;
		}
	}

	&__gallery {
		&--item {
			img {
				max-width: 100%;
			}
		}
	}
}